$calendar-width: 20%;
$calendar-margin: 10px;
$color-meeting: #4B956F;
$color-seminar: #701334;
$color-consultation : #454074;
$color-completed: green;
$calendar-header-height: 34px;
$calendar-header-border-width: 1px;
$cal-min-height: 1080px;
#calendar-layout {
  min-width: 1170px;
  .container, .container-fluid, section {
    min-width: 1170px;
  }
}
#calendar {


  .box-body {
    overflow: hidden;
  }

  .left-side {
    position: absolute;
    min-height: $cal-min-height;
    max-width: 260px;
  }


  .main-side {
    width:  100%;
    min-height: $cal-min-height;
    padding: 0;
    margin-left: 250px;
    margin-top: -2px;
  }

  .tree-block {
    height: 755px;
    overflow-y: scroll;
  }
  .fc-center  .fc-button {
    color: #000000;
    position: absolute;
    right: 5px;
    box-shadow: none;
    top: -$calendar-header-height;
    border: none;
    font-size: 30px;
    line-height: $calendar-header-height;
    height: $calendar-header-height;
    padding: 0 5px;
    background: transparent;
    z-index: 9;

    &:hover, &:focus {
      outline: none;
    }

    &.fc-close-button {
      right: 5px;
    }

    &.fc-toggle-button {
      right: 25px;
      font-size: 20px;
    }
  }

}
#workspace-wrapper {
  width: 100%;
  overflow: hidden;

}


#workspace {
  /*display: -webkit-box; !* Android 4.3-, Safari без оптимизации *!
  -webkit-box-pack: justify; !* Android 4.3-, Safari без оптимизации *!
  display: -webkit-flex; !* оптимизация для Safari *!
  webkit-justify-content: space-between; !* оптимизация для Safari *!
  display: flex;
  justify-content: space-between;
  text-align: justify; !* IE10-, Firefox 12-22 *!
  text-align-last: justify; !* IE10-, Firefox 12-22 *!
  min-width: 100%;
  flex-direction: row;*/

  display: block;
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  /*@media (max-width: 1279px) {
    min-width: 74vw;
  }
  @media (min-width: 1280px) {
    min-width: 76vw;
  }


  @media screen and (min-width: 1366px) {
    min-width: 78vw;
  }
  @media screen and (min-width: 1440px) {
    min-width: 79vw;
  }
  @media screen and (min-width: 1600px) {
    min-width: 81vw;
  }
  @media screen and (min-width: 1920px) {
    min-width: 83vw;
  }*/


}



/* Event colors*/

.event-meeting {
  background-color: $color-meeting;
}

.event-consultation {
  background-color: $color-consultation;
}

.event-seminar {
  background-color: $color-seminar;
}

.event-completed {
  background-color: $color-completed;
}
.event-all {
  background-color: $brand-primary;
}

.btn-calendar {
  width: 84px;
  height: 92px;
  padding: 0;
  color: $brand-primary;
  margin: 0  5px 0 0;
  background-color: transparent;
  white-space: normal;
  vertical-align: top;
  font-weight: 600;
  border: none;
  font-size: 12px;


  &.active {
   .ic {
     border-color: $brand-primary;
   }
  }

  &.selected {



    &.event-all {
      .ic {
        border-color: $brand-primary;
      }

    }
  }
  :hover {
    color: darken($brand-primary, 20%);
  }


  + .btn-calendar {
    margin-left: 5px;
    margin-right: 5px;
  }





  span {
    padding-top: 5px;
    display: block;
  }

}

[ng-dropdown-multiselect] {
  .dropdown-menu {
    height: 420px !important;
  }
}


.ic {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 84px;
  height: 46px;
  text-align: center;
  vertical-align: middle;
  background-color: $gray;
  border-radius: 5px;
  border: 4px solid transparent;
  $control-icons: 'add', 'meeting', 'seminar', 'day', 'workweek', 'week', 'month', 'consultation', 'all';

  &:after {
    position: absolute;
    left: 9px;
    top: 6px;
    content: '';
    width: 60px;
    height: 30px;
    background: url("/images/calendar-icons.png") no-repeat 0 0;
  }

  @for $i from 1 through length($control-icons) {
    &.ic_#{nth($control-icons, $i)} {
      &:after {

        @include bgPosition($i, 60px)
      }
    }
  }

  &:hover {
    border-color: lighten($brand-primary, 20%)
  }

}



.display-mode {

  .btn {
    &.selected {
      .ic_meeting {
        border-color: $color-meeting;
      }

      .ic_consultation {
        border-color: $color-consultation;
      }

      .ic_seminar {
        border-color: $color-seminar;
      }
    }
  }

  .ic {
    &:after {
      background-position-y: -30px;
    }


  }

}

.calendar-controls {
  border-bottom: 1px solid $gray;
}


/* User Profile */

// Sidebar menu
.sidebar-menu {
  width: 200px;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  //First Level
  > li {
    position: relative;
    margin: 0;
    padding: 0;
    border-left: 6px solid transparent;

    &.active {
      border-color: $brand-primary;
      > a {
        color: #000000 !important;
      }
    }

    > a {
      padding: 6px 5px 6px 20px;
      display: block;
      > .fa,
      > .glyphicon,
      > .ion {
        width: 40px;
        font-size: 26px !important;
      }
    }


    span {
      line-height: 26px;
      vertical-align: top;
      display: inline-block;
    }
  }

}




.fc {

  * {
    -ms-text-align-last: auto;
    text-align-last: auto;
  }
  .fc-toolbar {
    position: relative;
    margin-bottom: 0;
    text-align-last: auto;

    .fc-center {
      white-space: nowrap;
      overflow: hidden;
      font-size: 18px;
    }
  }
  &.calendar {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    flex-flow: row;
    vertical-align: top;
    /*display: -webkit-box; !* хак для Android 4.3-, должен идти после inline-block *!*/

    .fc-center {
      h2 {
        font-size: 18px;
      }
    }


    .fc-caption {
      top: - $calendar-header-height - 1px;
      right: 0;
      padding: 2px 2px 2px 15px;
      background-color: #DBECF6;
      display: block;
      height: $calendar-header-height;
      width: 100%;
      border: $calendar-header-border-width solid #ddd;
      font-size: 16px;
      line-height: 28px;
      text-align: left;
      -ms-text-align-last: auto;
      text-align-last: auto;
      overflow: hidden;
      border-right: 34px solid #DBECF6;
    }

    & + .calendar {

    }

    .fc-today {
      background-color: #ceedff
    }
  }

}


ul.event-files {
  margin-top: 10px;
  list-style: none;
  -webkit-padding-start: 0;
  padding-left: 0;

  li {

    span {
      display: inline-block;
      max-width: 70%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.fc-basic-view {
  .fc-body {

    .fc-row {
      min-height: 10em;
    }
  }
}

.fc-view {
  overflow: hidden;
  &.fc-agenda-view  {
    

    .fc-body {
     // height: 924px !important;
      overflow-x: hidden;
      overflow-y: scroll;
      display: block;
      width: calc( 100% + 18px);
    }

    .fc-scroller {

    }

    .fc-bg {
      & + .fc-slats {

        tr {
          height: 32px;

        }

      }
    }

  }
}

