
@import "box";
@import "news";
@import "treecontrol";
@import "calendar/bootstrap-datetimepicker-build";
@import "mini-calendar";
@import "calendar";
@import "ng-dialog";
@import "datetimepicker";
@import "impaired-version";


/** Multiselect */
.form-group-multiselect {
  > label {
    width: 100%;
  }
  > .btn {
    width: 45%;

    &:last-of-type {
      float: right;
    }
  }

  .help-row {
    margin-top: 10px;
    .btn {
      width: 50%;
      &:last-child {
        width: 45%;
        float: right;
      }
    }
  }

}
[ng-dropdown-multiselect] {
  width: 50%;
  float: left;

  + .btn {
    float: right;

  }

  .multiselect-parent, .dropdown-toggle {
    width: 100%;
  }
}



/** Side Menu */
.sidebar-menu {
  > li {
    > a {

      .badge {
        float: right;
        margin-top: 10px;

        font-size: 9px;

      }
    }
  }
}
section {

  .select2-container--default {

    .select2-selection {

      &--single, &--multiple  {
        border-radius: 0;



        .selection__rendered {
          padding: $padding-base-vertical $padding-base-horizontal;
          font-size: $font-size-base;
          line-height: $line-height-base;
        }

      }
    }

    &--single {
      height: $input-height-base; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
    }

    &--multiple {

    }

  }


 .select2-search--inline  {

   .select2-search__field {
     width: 100% !important;
   }

 }

}

/** accordion */
v-pane {

  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s;

  &.is-expanded {
    > v-pane-content {
      max-height: none !important;
    }
  }
}