#fvb {
  display: none;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.frame {
  height: 16px;      /* equals max image height */
  white-space: nowrap;
  text-align: center; margin: .4em 0;
}
.frameForSingle {
  margin-top: 15px;
  white-space: nowrap;
  text-align: center;
}
.navbar-custom {
  color: black;
  font-size: 14px;
  font-family: Verdana;
  z-index: 2147483647;
  line-height: 100% !important;
  /*position: absolute;*/
  width: 100%;
  top: 0;
}

.navbar-custom ul.nav {
  width: auto !important;
}

.navbar-custom.navbar {min-height:65px !important}

.bold {
  font-weight: bold;
}
.navbar-custom ul.nav > li {
  margin-left: 30px;
  border: none !important;
}
.navbar-custom ul.nav > li > div.frame {
  width: auto !important;
}

button.btn {
  height: auto !important;
}


.impaired-white {
  background-color: white  !important;
  color: black  !important;
  background-image: none !important;

}
.impaired-black {
  background-color: black  !important;
  color: white  !important;
  background-image: none !important;
}
.impaired-darkblue {
  background-color: darkblue  !important;
  color: yellow  !important;
  background-image: none !important;
}
.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}

#impaired-on { display: block !important;}
.impaired-on { display: block !important;}

#impaired-off { display: none !important;}
.impaired-off { display: none !important;}


.shadow-off  {
  box-shadow: none !important;
  text-shadow: none !important;
}

* { text-shadow: none !important;}


.siteBackgroundcurrent div { background-image: none !important; }
.wixAds {display: none !important;}
.jimdo-free-footer-ad {display: none !important;}
#fmwrapperhmenu {display: none !important;}
.sites-cookie-notice-fit  {display: none !important;}


.s13itemsContainer div div {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}


.impaired-leftmenu {
  margin: 0;
  padding: 0;
  width: 260px;
  height: 0 !important;
  list-style:none !important;
}

.impaired-leftmenu > li {
  margin: 10px;
  padding: 0;

}

#impaired-leftmenu {
  margin: 0;
  padding: 0;
  width: 260px;
  height: 0 !important;
}


.impaired-content {
  padding-left: 280px !important;
  padding-top: 40px !important;
}

#impaired-content {
  padding-left: 280px !important;
  padding-top: 40px !important;
  width:1000px !important;
}


.impaired-content-100 {
  padding-left: 280px !important;
  padding-top: 100px !important;
}


.impaired-topmenu {
  float:left !important;
  margin:0 !important;
  padding:20px 0 !important;
  position: relative !important;
}

.impaired-topmenu > li {
  float:left;
  margin:0 5px;
  padding:0 5px;
  list-style:none;

}


.impaired-header  {
  float:left !important;
  position: relative !important;
  margin: 20px 10px 30px 10px !important;
  font-size: 26px !important;
  width: auto !important;
  left: 0px !important;

}

.impaired-line-height-1  {
  line-height: 1 !important;
}

.impaired-line-height-2  {
  line-height: 2 !important;
}

.impaired-line-height-3  {
  line-height: 3 !important;
}

.impaired-iframe-1 {
  -ms-zoom: 1.25;
  -moz-transform: scale(1.25);
  -moz-transform-origin: 0 0;
  -o-transform: scale(1.25);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(1.25);
  -webkit-transform-origin: 0 0;
}

.small-font {
  background: #FFFFFF;
  font-size: 12px;
}


