$min-calc-width:  48px;


.fc {
  .fc-toolbar {
    height: $min-calc-width;

    > * > * {
      height: $min-calc-width;
    }
    > * > .fc-button {
      background: $brand-primary;
      color: #ffffff;
      border: none;
      border-radius: 0;

    }


  }

  .fc-center {


    h2 {


      line-height: $min-calc-width;
      vertical-align: middle;
    }
  }
}

.calendar {
  .fc-toolbar {
    background-color: $section-bg;

  }
}


/** ==== MINI CALENDAR ====*/
.mini-calendar {

  &.fc[calendar=miniCalendar] {
    //margin-top: 35px;
  }


  .fc-toolbar {
    background: $brand-primary;
    margin-bottom: 0;

  }

  .fc-center {


    h2 {
      color: #ffffff;
      font-size: 14px;
    }
  }

  .fc-basic-view {
    .fc-body {
      .fc-row {
        min-height: $mc-box-width
      }
    }

    .fc-day-number {
      height: $mc-box-width;
      text-align: center;
      vertical-align: middle;
      position: relative;
      &.has-event {
        cursor: pointer;
        &:before {
          position: absolute;
          right: 0;
          top: 0;
          content: "";
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 10px 10px 0;
          border-color: transparent $brand-primary transparent transparent;

        }
      }
    }
  }

  .fc-content-skeleton {
    tbody {
      display: none;
    }
  }
}