/*
 * Component: Products List
 * ------------------------
 */

.news-img {
  text-align: center;
  margin: 15px;

  img {
    width: 80%;
  }

}

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
  > .item {
    border-radius: $box-border-radius;
    @include box-shadow($box-boxshadow);
    @include clearfix;
    padding: 10px 0;
    background: #fff;


  }

  .news-img {
    text-align: center;


    &.img-sm {
      margin: 5px auto;
      width: 65px;
      max-height: 65px;

      img {

      }
    }

    img {
      width: 80%;
    }

  }


  .news-info {
    padding: 15px 0;
    //margin-left: 60px;
  }
  .news-title {
    font-weight: 600;

    h2 {
      color: $brand-primary;
      margin-top: 0;

    }
  }
  .news-date {
    display: block;
    color: #999;

    width: 100%;
  }
  .news-description {
    display: block;
    overflow: hidden;
    //white-space: nowrap;
    color: #828282;
    text-overflow: ellipsis;
    font-size: $font-size-big;
  }
}

.news-list-in-box > .item {
  @include box-shadow(none);
  border-radius: 0;
  border-bottom: 1px solid $box-border-color;

  &:last-of-type {
    border-bottom-width: 0;
  }
}
