.ngdialog.ngdialog-theme-plain {
  padding-bottom: 160px;
  padding-top: 160px;

  .ngdialog-content {
    background: #fff;
    color: #444;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 0 auto;
    max-width: 100%;
    padding: 1em;
    position: relative;
    width: 550px;
  }

  .ngdialog-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    li {
      color: inherit;
    }
  }

  .ngdialog-close {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;

    &:before {
      background: transparent;
      color: #bbb;
      content: "\00D7";
      font-size: 26px;
      font-weight: 400;
      height: 30px;
      line-height: 26px;
      position: absolute;
      right: 3px;
      text-align: center;
      top: 3px;
      width: 30px;
    }

    &:hover, &:active {
      &:before {
        color: #777;
      }

    }
  }

  .ngdialog-message {
    margin-bottom: .5em;
  }
  .ngdialog-input {
    margin-bottom: 1em;

    textarea,
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"] {
      background: #f0f0f0;
      border: 0;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      margin: 0 0 .25em;
      min-height: 2.5em;
      padding: .25em .67em;
      width: 100%;
    }

    textarea:focus,
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus {
      box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.2);
      outline: none;
    }

  }

  .ngdialog-buttons:after {
    clear: both;
    content: '';
    display: table;
  }

  .ngdialog-button {
    border: 0;
    cursor: pointer;
    float: right;
    font-family: inherit;
    font-size: .8em;
    letter-spacing: .1em;
    line-height: 1em;
    margin: 0 0 0 .5em;
    padding: .75em 2em;
    text-transform: uppercase;

    &:focus {
      -webkit-animation: ngdialog-pulse 1.1s infinite;
      animation: ngdialog-pulse 1.1s infinite;
      outline: none;
    }

  }

  .box {
    box-shadow: none;
  }

}

@media (max-width: 568px) {
  .ngdialog.ngdialog-theme-plain {

    .ngdialog-button:focus {
      -webkit-animation: none;
      animation: none;
    }

    .ngdialog-button.ngdialog-button-primary {
      background: #3288e6;
      color: #fff;
    }

    .ngdialog-button.ngdialog-button-secondary {
      background: #e0e0e0;
      color: #777;
    }

  }

}

#login-dialog {

  .box, #login-dialog .box-body {
    padding-left: 0;
    padding-right: 0;
    margin: 0;

  }

  .box-header {
    margin-left: 100px;
  }
  h2 {
    margin-top: 0;
  }
  .popupmes {
    margin-top: 20px;

  }

}

.popupmes {

  .thumbnail {
    width: 48px;
    margin-right: 20px;
    margin-bottom: 5px;
  }

  .popuptitle {
    padding: 0;
  }
}

