treecontrol {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: $brand-primary;
  text-decoration: none;
}

treecontrol ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  overflow: hidden;
}

treecontrol li {
  position: relative;
  padding: 0 0 0 10px;
  line-height: 20px;

}

treecontrol li.tree-expanded i.tree-leaf-head, treecontrol li.tree-collapsed i.tree-leaf-head {
  display: none;
}

treecontrol li.tree-expanded i.tree-branch-head, treecontrol li.tree-collapsed i.tree-branch-head {
  display: inline;
}

treecontrol li.tree-leaf i.tree-branch-head {
  display: none;
}

treecontrol li.tree-leaf i.tree-leaf-head {
  display: inline;
}

treecontrol li i.tree-branch-head {
  cursor: pointer;
}

treecontrol li .tree-label {
  cursor: pointer;
  display: inline;

}
treecontrol treeitem li .tree-label {
  padding-left: 20px;
}
treecontrol li .tree-unselectable {
  cursor: not-allowed;
}

treecontrol.tree-classic li.tree-expanded i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/folder.png") no-repeat;
}

treecontrol.tree-classic li.tree-collapsed i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/folder-closed.png") no-repeat;
}

treecontrol.tree-classic li.tree-leaf i.tree-leaf-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/file.png") no-repeat;

}

treecontrol.tree-classic li .tree-selected {
  background-color: #aaddff;
  font-weight: bold;
}

treecontrol.tree-classic li .tree-unselectable {
  color: #ddd;
}

treecontrol {

  li {
    &.tree-leaf {

      &.tree-branch-head {

      }
      &.tree-leaf-head {

      }

      &.c-liSelected {

        .c-iLeaf {

        }

      }
    }
  }

  &.tree-light {

    li.tree-expanded, li.tree-collapsed  {
      > i.tree-branch-head {
        position: relative;
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
      }
    }


    li.tree-expanded > i.tree-branch-head {
      left: -8px;
      border-width: 0 0 9px 9px;
      border-color: transparent transparent $brand-primary transparent;
    }

    li.tree-collapsed > i.tree-branch-head {
      left: -5px;
      border-width: 6px 0 6px 6px;
      border-color: transparent transparent transparent $brand-primary;

    }

    li.tree-leaf {

      i.tree-leaf-head {
        padding: 1px 10px;
        width: 16px;
        height: 16px;
        background: url("../images/treecontrol/unchecked.png") no-repeat;
        margin-right: -20px;
      }

      &.c-liSelected {

        i.tree-leaf-head {
          margin-right: -20px;
          background: url("../images/treecontrol/checked.png") no-repeat;
        }
      }

    }

    li .tree-selected {

    }

    li .tree-unselectable {
      color: #ddd;
    }

  }






}

treecontrol.tree-dark li.tree-expanded i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/node-opened-light.png") no-repeat;
}

treecontrol.tree-dark li.tree-collapsed i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/node-closed-light.png") no-repeat;
}

treecontrol.tree-dark li.tree-leaf i.tree-leaf-head {
  padding: 1px 10px;
  width: 16px;
  height: 16px;
  background: none no-repeat;
}

treecontrol.tree-dark li .tree-selected {
  font-weight: bold;
}

treecontrol.tree-dark li .tree-unselectable {
  color: #777;
}

treecontrol.tree-dark {
  color: #ddd;
}

treecontrol.tree-boot {
  color: #428bca;
  font-family: inherit;
  font-size: inherit;
}

treecontrol.tree-boot > ul > li {
  padding: 0;
}

treecontrol.tree-boot li > .tree-label {
  display: block;
  padding: 3px 0;
  border-radius: 4px;
}

treecontrol.tree-boot i.tree-branch-head,
treecontrol.tree-boot i.tree-leaf-head {
  float: left;
  height: 16px;
  margin: 5px;
}

treecontrol.tree-boot li.tree-expanded i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/folder.png") no-repeat;
}

treecontrol.tree-boot li.tree-collapsed i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/folder-closed.png") no-repeat;
}

treecontrol.tree-boot li.tree-leaf i.tree-leaf-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/file.png") no-repeat;
}

treecontrol.tree-boot .tree-label.tree-selected,
treecontrol.tree-boot .tree-label.tree-selected:hover {
  color: #fff;
  background-color: #428bca;
}

treecontrol.tree-boot .tree-label:hover {
  background-color: #eee;
}

/** ====  ATTTRIBUTES ====**/

[treecontrol] {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  font-size: 13px;
  color: #555;
  text-decoration: none;
}

[treecontrol] ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border: none;
  overflow: hidden;
}

[treecontrol] li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 20px;
}

[treecontrol] li.tree-expanded i.tree-leaf-head, [treecontrol] li.tree-collapsed i.tree-leaf-head {
  display: none;
}

[treecontrol] li.tree-expanded i.tree-branch-head, [treecontrol] li.tree-collapsed i.tree-branch-head {
  display: inline;
}

[treecontrol] li.tree-leaf i.tree-branch-head {
  display: none;
}

[treecontrol] li.tree-leaf i.tree-leaf-head {
  display: inline;
}

[treecontrol] li i {
  cursor: pointer;
}

[treecontrol] li .tree-label {
  cursor: pointer;
  display: inline;
}

[treecontrol].tree-classic li.tree-expanded i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/folder.png") no-repeat;
}

[treecontrol].tree-classic li.tree-collapsed i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/folder-closed.png") no-repeat;
}

[treecontrol].tree-classic li.tree-leaf i.tree-leaf-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/file.png") no-repeat;
}

[treecontrol].tree-classic li .tree-selected {
  background-color: #aaddff;
  font-weight: bold;
}

[treecontrol].tree-light li.tree-expanded i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/node-opened-2.png") no-repeat;
}

[treecontrol].tree-light li.tree-collapsed i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/node-closed-2.png") no-repeat;
}

[treecontrol].tree-light li.tree-leaf i.tree-leaf-head {
  padding: 1px 10px;
  width: 16px;
  height: 16px;
  background: none no-repeat;
}

[treecontrol].tree-light li .tree-selected {
  font-weight: bold;
}

[treecontrol].tree-dark li.tree-expanded i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/node-opened-light.png") no-repeat;
}

[treecontrol].tree-dark li.tree-collapsed i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/node-closed-light.png") no-repeat;
}

[treecontrol].tree-dark li.tree-leaf i.tree-leaf-head {
  padding: 1px 10px;
  width: 16px;
  height: 16px;
  background: none no-repeat;
}

[treecontrol].tree-dark li .tree-selected {
  font-weight: bold;
}

[treecontrol].tree-dark {
  color: #ddd;
}

[treecontrol].tree-boot {
  color: #428bca;
  font-family: inherit;
  font-size: inherit;
}

[treecontrol].tree-boot > ul > li {
  padding: 0;
}

[treecontrol].tree-boot li > .tree-label {
  display: block;
  padding: 3px 0;
  border-radius: 4px;
}

[treecontrol].tree-boot i.tree-branch-head,
[treecontrol].tree-boot i.tree-leaf-head {
  float: left;
  height: 16px;
  margin: 5px;
}

[treecontrol].tree-boot li.tree-expanded i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/folder.png") no-repeat;
}

[treecontrol].tree-boot li.tree-collapsed i.tree-branch-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/folder-closed.png") no-repeat;
}

[treecontrol].tree-boot li.tree-leaf i.tree-leaf-head {
  padding: 1px 10px;
  background: url("../images/treecontrol/file.png") no-repeat;
}

[treecontrol].tree-boot .tree-label.tree-selected,
[treecontrol].tree-boot .tree-label.tree-selected:hover {
  color: #fff;
  background-color: #428bca;
}

[treecontrol].tree-boot .tree-label:hover {
  background-color: #eee;
}



