.news-page {

  .news-item {
    padding: 20px 0;
    border-bottom: 1px solid #dadada;

    h2 {
      margin: 0;
      font-size: 16px;
      line-height: 24px;
      vertical-align: bottom;
    }

  }

  .item-descr {
    margin-top: 25px;
    @media (min-width: $screen-md-min) {
      max-height: 95px;
      overflow: hidden;
    }
  }
  .item-info {
    padding-left: 30px;
  }
  .item-image {
    padding: 0;

    img {
      max-width: 100%;
    }
  }

}

.news-date {
  padding: 10px 0;
}
.news-page {

  .news-date {
    color: #828282;

  }
}


article {
  img {
    padding-right: 30px;
    padding-bottom: 30px;
  }

}
.all-news-link {
  padding: 10px;
}

.share-links {
  margin-bottom: 30px;
}