@import "fonts";
@import "bootstrap";
@import "typo";
@import "mixins/mixins";
@import "components/components";
@import "../../../bower_components/angular-bootstrap-datetimepicker/src/scss/datetimepicker.scss";
@import "header";
@import "frontend";
@import "news";
section {
  background-color: $section-bg;

  &.content {
    padding-top: 40px;
  }
}

.logo {

  img {
    max-width: 100%;
  }
}

#top-bar {

  .navbar-nav {
    display: inline-block;
    margin: 7.5px 0;
  }

  .nav {
    > li {
      display: inline-block;
    }
  }
  
  @media (min-width: $screen-sm-min) {
    .navbar-nav {
      margin: 0;
    }
  }
}
.navbar {
  margin-bottom: 0;
}
sidebar {
  display: block;
  .news-title {
    h2 {
      margin: 0;
    }

  }
}

.slide-bg {
  background-position: center center;
}


.btn-square {
  padding: $padding-base-vertical $padding-base-horizontal;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 0;
}
footer {
  background-color: $gray-darker;
  padding-top: $padding-large-vertical * 3;
  padding-bottom: $padding-large-vertical * 3;

  .btn {
    color: $navbar-inverse-brand-color;

    &:hover {
      color: $brand-info;

    }
  }

  .copyrights {
    h5 {
      color: $gray-light;
    }
  }
}
.container {
  //padding-left: 0;
  //padding-right: 0;
}
#main-slider {
  position: relative;
  margin-bottom: 30px;

  .row, .container {
    position: relative;
    height: inherit;
  }

  .row {
    margin-right: 15px;
    margin-left: 15px;
  }

}
.home-page-news-left {
  .box {
    height: 660px;

  }
}
.home-page-news-right {
  .box {
    height: 660px;

  }
  .news-title {
    overflow: hidden;
    height: 75px;
  }
}

.secondary-block {
  p {
    font-size: $font-size-big;
    color: $gray-light;
    margin: 20px 0;
  }

  a {
    color: #000000;
  }
}
.slider-descr {
  @include border-top-radius($box-border-radius);
  background-color: rgba(0, 0, 0, 0.4);

  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;

  @media (min-width: $screen-sm-min) {
    padding: ($padding-large-vertical * 3) $padding-large-horizontal * 3;
  }

  ul {
    list-style: none;
    padding:0;
    margin:0;
  }
  li {
    padding-left: 1em;
    text-indent: -25px;

    font-size: $font-size-big;
    line-height: $line-height-base;


    &:before {
      position: relative;
      top: 10px;
      content: "• ";

      font-size: 40px;
      line-height: 24px;
      color: $brand-aqua; /* or whatever color you prefer */
    }
  }

  .arrows  {
    position: relative;
    bottom: -25px;
    color: #cbcece;

  }
}

.news-list {
  list-style: none;
  margin: 0;
  padding: 0;
}


.page-header {
  border-bottom: none;
  margin: 0 0 20px;

  .home-page-news & {
    h1, h2, h3 {
      float: left;

    }
  }
  h1, h2, h3 {

    margin: 0;
  }
}


.breadcrumb {
  background-color: transparent;
  padding: 0;

  > li {

    + li:before {
      content: '>';
      color: #777777;
    }
  }

  a {
    color: #777777;
  }
}

.input-group .selectize-input:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.selectize-control .selectize-input.disabled {
  opacity: 1;
  background-color: #ededed;
}

.navbar-form {
  margin-bottom: 0;
  > .form-group {
    float: left;
    margin-right: 10px;
    margin-bottom: 0;
    input {
      @include placeholder( #ffffff);
      color: #ffffff;
    }
  }
}

.fc-state-highlight {
  background-color: #70cbff;
}
@media screen and (max-width: 1200px) {
    #telemedConsultRequests-table{
        font-size:10px;
    }   
}
@media screen and (max-width: 992px) {
    #min-width-container{
        width:97.5%;
    }   
}